.players-list{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  animation: fade-in 1s ease;
  // background: #000 url(img/166597-52914.jpg) no-repeat center center;
  // background-size: cover;
  //background: #000;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    right: 0;
    box-shadow: inset 0 0 85px 20px #000;
  }
  &-level-title{
    display: block;
    padding-right: 10px;
  }
  &__item{
    display: block;
    margin: 5px;
    border: 3px solid;
    border-color: #353535 #444 #7b7b7b #444;
    box-shadow: inset 0 0 10px #000;
    &:hover{
      animation: select-border-animation .5s linear infinite alternate-reverse;
    }
    img{
      vertical-align: middle;
      position: relative;
      z-index: -1;
       
    }
  }
  .players-row:nth-child(2){
    animation-delay: .4s;
  }
  .players-row:nth-child(3){
    animation-delay: .6s;
  }
  .players-row:nth-child(4){
    animation-delay: .8s;
  }
  .players-row:nth-child(5){
    animation-delay: 1s;
  }
}

.players-row{
  position: relative;
  z-index: 1;
}

@keyframes select-border-animation{
0%  {border-color: #353535 #444 #7b7b7b #444;}
100%{border-color: #0ac30a;}
}


.player-preview-wrapper{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: 1024px!important;
  .player-preview{
    height: 100%;
    width: 50%;
    img{
      max-width: 100%;
      height: auto;
      width: 60%;
    }
  }
  #player-preview-1{

  }
  #player-preview-2{

  }
}
