
*{
	box-sizing: border-box;
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */


@font-face {
		font-family: 'mortal_kombat_3regular';
		src: url('font/mortalkombat3-webfont.woff2') format('woff2'),
				 url('font/mortalkombat3-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

html {
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 18px;
	font-family: 'mortal_kombat_3regular', sans-serif;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.level-decor{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.level-sky{
	width: 100%; 
	height: 100%;
	position: relative;
	overflow: hidden;
}

.level-floor-decor{
	position: absolute;
	width: 100%;
	left: 0;
}

.level-floor{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
}

/*//////////////////////////////////////////////////////*/
.temple-level .level-sky{
	background: url(img/levels/temple/temple-bg.jpg);
	background-position: center 0px;
	background-repeat-y: no-repeat;
	background-size: 100% 90%;
	background-color: #181818;
}

.temple-level .level-floor-decor{
	background: url(img/levels/temple/temple-decor.png);
	height: 64px;
	bottom: 64px;
	background-position: center bottom;
}

.temple-level .level-decor:after{
	content: "";
	position: absolute;
	left: 52%;
	top: 0;
	width: 533px;
	height: 200px;
	background: url(img/levels/temple/birds.gif) no-repeat;
	background-size: 33%;
}

.temple-level .level-floor{
	background: url(img/levels/temple/temple-floor.png) center bottom no-repeat;
	background-size: 100% 100%;
	height: 66px;
}
/*//////////////////////////////////////////////////////*/

.desert-level .level-sky{
	background: url(img/levels/desert/desert-sky.jpg) no-repeat top center;
	background-size: 100% 120%;
}

.desert-level .level-sky:after{
	content: "";
	position: absolute;
	right: 36px;
	top: 39px;
	height: 100px;
	z-index: 0;
	width: 100px;
	border-radius: 100%;
	box-shadow: 0px 0px 100px 26px rgb(255, 244, 219);
	background-color: #fff7e5;
}

/*.desert-level .level-sky:before{
	background: url(img/levels/desert/smoke.gif) no-repeat top center;
	 background-size: 100% 120%; 
	content: "";
	position: absolute;
	right: 36px; 
	top: 240px;
	left: 38px;
	height: 201px;
	z-index: 0;
	width: 50px;
}*/

.desert-level .clouds{
	z-index: 1;
	background:transparent url(img/levels/desert/clouds3.png) repeat top center;
}

.desert-level .level-floor-decor{
	background: url(img/levels/desert/p_2.png) center bottom;
	background-size: auto 76px;
	height: 76px;
	bottom: 50px;
}

.desert-level .level-floor{
	background: url(img/levels/desert/p_1.gif) center bottom no-repeat;
	background-size: 100% 100%;
	height: 53px
}
/*//////////////////////////////////////////////////////*/

.portal-level .level-sky{
	background: url(img/levels/portal/sky.jpg) no-repeat 0px 70%;
	background-size: 100% 120%;
}

.portal-level .level-floor-decor{
	background: none;
}

.portal-level .level-floor{
	background: url(img/levels/portal/p_1.png) center bottom no-repeat;
	background-size: 100% auto;
}

.portal-level .sky-decor-inner{
	left: -18px;
	top: 231px;
	position: absolute;
	width: 50px;
	height: 30px;
	opacity: .5;
	border-radius: 100%;
	background: #93b4cd;
	z-index: 0;
	box-shadow: 0px 0px 13px 6px rgba(206, 243, 254, 0.76);
	transform: rotate(16deg) skew(-70deg);
}


.portal-level .sky-decor-inner:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: #93b4cd url(img/levels/portal/portal-cloud.png) center center no-repeat;
	background-size: 100% 100%;
	height: 100%;
	border-radius: 100%;
}

.portal-level .clouds{
	content:"";
	position: absolute;
	animation: none;
	left: 627px;
	top: 43px;
	transform: rotate(23deg) skew(-61deg);
	width: 154px;
	height: 154px;
	z-index: 1;
	opacity: 0.5;
}

.portal-level .level-decor:before{
	content: '';
	left: 644px;
	top: 123px;
	position: absolute;
	background: url(img/levels/portal/lightning.png) center 0;
	background-size: 100%;
	width: 108px;
	height: 240px;
	animation: lightening 20s -6s linear infinite;
	transform: scaleX(.6);
	z-index: 1;
}

.portal-level .level-decor:after{
	content: '';
	left: 670px;
	top: 365px;
	position: absolute;
	width: 56px;
	height: 2px;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	z-index: 1;
	background: rgba(206, 243, 254, 0.76);
	box-shadow: 0px 0px 15px 8px rgba(206, 243, 254, 0.76);
	animation: lighteningbottom 7s ease infinite;
}

@keyframes lighteningbottom {
	0%,30%,100%{
		transform: scale(.9);
	}
	25%,60%{
		transform: scale(1);
	}
}

.portal-level .sky-decor{
	position: absolute;
	left: 693px;
	top: 123px;
	background: rgba(206, 243, 254, 0.76) url(img/levels/portal/lightning.png) center 0;
	background-size: 28px auto;
	width: 9px;
	height: 240px;
	animation: lightening 20s linear infinite;
	box-shadow: 0px 0px 16px 6px #b6e1fa;
}

@keyframes lightening {
	from { background-position: center 0;}
	to { background-position: center 1000px;}
}

.portal-level .sky-decor:after{
	content: '';
	left: -53px;
	top: 0;
	position: absolute;
	background: url(img/levels/portal/lightning.png) center 0;
	background-size: 100%;
	width: 108px;
	height: 240px;
	animation: lightening 20s linear infinite;
	transform: scaleX(.8);
}

.portal-level .sky-decor:before{
	content: '';
	left: -53px;
	top: 0;
	position: absolute;
	background: url(img/levels/portal/lightning.png) center 0;
	background-size: 100%;
	width: 108px;
	height: 240px;
	animation: lightening 20s -4s linear infinite;
	transform: scaleX(.6);
}



.portal-level .cloud{
	background: #293f56 url(img/levels/portal/portal-cloud.png) center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	opacity: .7;
	height: 100%;
	animation: portal-cloud 60s linear infinite;
	border-radius: 100%;
	box-shadow: 0px 0px 43px 44px #31495f;
}

@keyframes  portal-cloud {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-180deg);
	}
}

.portal-level .level-sky:after{
	content: "";
	position: absolute;
	border-radius: 100%;
	width: 48px;
	top: 108px;
	left: 50%;
	height: 20px;
	animation-name: skyobject;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.portal-level .level-sky:before{
	content: "";
	position: absolute;
	/* border-radius: 100%; */
	width: 102px;
	top: 55px;
	transform: rotate(28deg) skew(-57deg) scale(1.7);
	opacity: 0.1;
	left: 659px;
	/* background: url(img/levels/portal/portal.gif); */
	height: 126px;
	/* box-shadow: inset 0px 0px 3px 51px rgba(255, 0, 0, 0.75), 0px 0px 38px 28px rgba(255, 0, 0, 0.73); */
	border-radius: 100%;
}

@keyframes skyobject {
	0%,30%,100%{
		box-shadow: 0px 0px 100px 0px #b3fffe;
		transform: rotate(180deg);
	}
	25%,60%{
		box-shadow: 0px 0px 200px 15px #b3fffe;
		transform: rotate(0deg);
	}
}

/*//////////////////////////////////////////////////////*/

#page-wrapper {
	height: 500px;
	min-width: 1024px;
	/* width: 1024px; */
	position: relative;
	overflow: hidden;
	/* width: 70%; */
	margin: 0 auto;
	max-width: 1440px;
}


.wrapper{
	position: relative;
	height: 100%;
}

.level-wrapper{
	height: 100%;
	padding-bottom: 30px;
	position: relative;
	z-index: 1;
}

.top-panel{
	width: 100%;
	height: 50px;
	display: inline-block;
	position: relative;
}

.life-levels{
	padding: 10px 12px;
	padding-bottom: 2px;
	display: inline-block;
	width: 100%;
}

.blood-level{
	height: 20px;
	width: 40%;
	background-color: rgba(255, 0, 0, 0.45);
	float: left;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.16);
	border: 1px solid transparent;
	-webkit-border-image: -webkit-linear-gradient(to right, rgba(212,200,75,1) 0%,rgba(244,248,158,1) 25%,rgba(213,205,96,1) 50%,rgba(244,248,158,1) 75%,rgba(213,205,96,1) 100%);
	border-image: linear-gradient(to right, rgba(212,200,75,1) 0%,rgba(244,248,158,1) 25%,rgba(213,205,96,1) 50%,rgba(244,248,158,1) 75%,rgba(213,205,96,1) 100%);
	border-image-slice: 1;
}

.blood-level__name{
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 0 4px;
	color: white;
	text-align: left;
	text-shadow: 1px 1px 2px #000;
}

.blood-level__bar{
	height: 100%;
	background-color: #4b44d0;
	width: 100%;
	transition: width .4s ease;
	box-shadow: 0px 1px 1px #000;
}

.time-counter{
	position: absolute;
	height: 30px;
	line-height: 30px;
	top: 6px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.56);
}

.victory-count{
	padding: 0 12px;
	display: inline-block;
	width: 100%;
}

.victory-count__item{
	width: 50%;
	text-align: right;
	float: left;
}

.victory-count__item:first-child{
	text-align: left;
}

.victory-count-medal{
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url(img/medal.gif);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
	border-radius: 100%;
}



.player{
	position: absolute;
	width: 150px;
	overflow: hidden;
	height: 138px;
	/*outline: 1px solid #ddd;*/
	font-size: 10px;
}

.wasted{
	background-color: #ccc6c6;
}



.player-controls{
	position: absolute;
	right: 20px;
	top: 20px;
}

button{
	cursor: pointer;
	margin: 0 5px;
}

[flipped], .player.defeated{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	text-align: right;
	float: right;
}

.player.hand-damaged.defeated, .player.foot-damaged.defeated, .player.defeated[flipped]{
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
	filter: none;
	-ms-filter: none;
}


.player{
	background-image: url(sprites/cyrax-stay.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.position-info{
	padding: 8px;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

/*.player_2{
	background-image: url(sprites/kabal-stay.gif);
	background-position: center;
	background-repeat: no-repeat;
}
*/

.player.defeated{
	background-image: url(sprites/defeated/cyrax-defeated.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.player.hand-damaged:after, .player.foot-damaged:after{
	display: none;
}


.player.defeated:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url(sprites/defeated/cyborg-defeated.gif);
	background-position: center;
	background-repeat: no-repeat;
	animation-name: cyborg-defeated;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	opacity: 0;
}

@keyframes cyborg-defeated {
	0%,30%,100%{opacity: 0;}
	25%,60%{opacity: 1;}
}

.player.defeated[flipped]{
	background-image: url(sprites/defeated/cyrax-defeated.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.player.hand-damaged{
	background-image: url(sprites/cyraxbeaten/cyrax-hand-damaged.png);
	background-position: -5px -2px;
	background-repeat: no-repeat;
}

.player.foot-damaged{
	background-image: url(sprites/cyraxbeaten/cyrax-foot-damaged.png);
	background-position: -5px -2px;
	background-repeat: no-repeat;
}

.player.move-forward, .player.move-back[flipped]{
	background-image: url(sprites/cyrax-move-forward.gif);
	background-repeat: no-repeat;
	animation: none;
}

.player.move-back, .player.move-forward[flipped]{
	background-image: url(sprites/cyrax-move-backward.gif);
	background-repeat: no-repeat;
	animation: none;
}

.player.move-run{
	background-image: url(sprites/cyrax-running.gif);
	background-repeat: no-repeat;
}

.player.move-down, .player.move-down[flipped]{
	background: url('sprites/spritesheet_seat.png') no-repeat;
	animation: movedown .1s steps(2) forwards;
}

@keyframes movedown {
	from { background-position:  0px 7px; }
	to { background-position: -300px 7px; }
}

.player.block{
	background: url('sprites/spritesheet_block.png') no-repeat;
	animation: blockstay .1s steps(2) forwards;
}

@keyframes blockstay {
	from { background-position:  0px -3px; }
	to { background-position: -300px -3px; }
}

.player.move-down.block{
	background: url('sprites/spritesheet_block_seat.png') no-repeat;
	animation: blockseat .1s steps(2) forwards;
}

@keyframes blockseat {
	from { background-position:  0px 0; }
	to { background-position: -300px 0; }
}

.player.move-top, .player.move-top.move-forward, .player.move-top.move-back {
	background: url('sprites/spritesheet_jump.png') no-repeat;
	animation: movetop .3s steps(2) forwards;
}

@keyframes movetop {
	from { background-position:  0px 0px; }
	to { background-position: -300px 0px; }
}

.player.move-top.foot-kick, .player.move-top.foot-kick[flipped]{
	background: url('sprites/cyrax-jump-top-kick-foot.png') no-repeat;
/*	animation: movetopfootkick .15s steps(3) forwards infinite;
	animation-direction: alternate;*/
	animation: none;
}

/*@keyframes movetopfootkick {
	from { background-position:  0px 0px; }
	to { background-position: -450px 0px; }
}*/

.player.move-top.hand-kick, .player.move-top.hand-kick[flipped]{
	background: url('sprites/cyrax-jump-kick-hand.png') no-repeat;
/*	animation: movetophandkick .3s steps(3) forwards infinite;
	animation-direction: alternate;*/
	animation: none;
}

/*@keyframes movetophandkick {
	from { background-position:  0px 0px; }
	to { background-position: -450px 0px; }
}*/

/*.player.jump-forward{
	background: url('sprites/spritesheet_jump_to.png') no-repeat;
	animation: movetopforward .4s steps(7) forwards infinite;
}*/

/*@keyframes movetopforward {
	from { background-position:  0px 0; }
	to { background-position: -1050px 0; }
}*/

/*.player.jump-back{
	background: url('sprites/spritesheet_jump_to.png');
	animation: movetopback .4s steps(7) forwards infinite;
}

@keyframes movetopback {
	from { background-position:  0px 0; }
	to { background-position: 1050px 0; }
}*/

.player.move-top.move-forward.hand-kick, .player.move-top.move-back.hand-kick{
	background: url('sprites/cyrax-jump-kick-hand.png') no-repeat;
	background-position: center 0;
	animation: none;
}

.player.move-top.move-forward.foot-kick, .player.move-top.move-back.foot-kick{
	background: url('sprites/cyrax-jump-kick-foot.png') no-repeat;
	background-position: center 0;
	animation: none;
}


.player.hand-kick, .player.hand-kick[flipped]{
	background: url('sprites/spritesheet_hand-kick.png') repeat-x;
	animation: handkick .45s steps(4) infinite;
}

@keyframes handkick {
	from { background-position:  0px 5px; }
	to { background-position: -600px 5px; }
}

.player.foot-kick, .player.foot-kick[flipped]{
	background: url('sprites/spritesheet_kick_foot.png') repeat-x;
	animation: footkick .31s steps(6) forwards infinite;
	animation-direction: alternate;
}

@keyframes footkick {
	from { background-position:  0 0; }
	to { background-position: -900px 0; }
}

.player.move-down.hand-kick{
	background: url('sprites/spritesheet_kick-hand_seat.png') no-repeat;
	animation: movedownhandkick .25s steps(3) forwards infinite;
	
}

@keyframes movedownhandkick {
	from { background-position:  0 0; }
	to { background-position: -450px 0; }
}

.player.move-down.foot-kick{
	background: url('sprites/spritesheet_kick-foot_seat.png') no-repeat;
	animation: movedownfootkick .25s steps(3) forwards infinite;
	
}

@keyframes movedownfootkick {
	from { background-position:  0 0; }
	to { background-position: -450px 0; }
}



















@keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
		from {background-position:0 0;}
		to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
		from {background-position:0 0;}
		to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
		from {background-position:0 0;}
		to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
		from {background-position: 0;}
		to {background-position:10000px 0;}
}

.clouds {
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	-moz-animation:move-clouds-back 200s linear infinite;
	-ms-animation:move-clouds-back 200s linear infinite;
	-o-animation:move-clouds-back 200s linear infinite;
	-webkit-animation:move-clouds-back 200s linear infinite;
	animation:move-clouds-back 200s linear infinite;
}


.level-switch{
	position: absolute;
	z-index: 1;
	right: 7px;
	top: 65px;
}
