/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-size: 14px;
	line-height: 18px;
	font-family: 'mortal_kombat_3regular', sans-serif;
	width: 100%;
	height: 100%;
}
.page-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
}

*{
	box-sizing: border-box;
}

@font-face {
		font-family: 'mortal_kombat_3regular';
		src: url('font/mortalkombat3-webfont.woff2') format('woff2'),
				 url('font/mortalkombat3-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;

}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 100px;
}

.wrapper-sky{
	z-index: -1;
	background: url(img/free-desert-wallpaper-16499-17037-hd-wallpapers.jpg) no-repeat top center;
	background-size: 100% 100%;
	overflow: hidden;
}

.level-wrapper{
	padding-bottom: 13px;
	background: url(img/p_1.gif) no-repeat bottom center,
							url(img/p_2.gif) no-repeat center 297px;
}

.wrapper{
	position: relative;
	height: 400px;
	width: 1004px;
	margin: 0 auto;
}

.wrapper-decor-1, .wrapper-decor-2, .wrapper-sky{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 960px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}

*{
	box-sizing: border-box;
}

html, body{
	min-height: 100%;
	height: 100%;
}

body{
	margin: 0;
}


.top-panel{
	width: 100%;
	height: 50px;
	display: inline-block;
	position: relative;
}

.life-levels{
	padding: 10px 12px;
	padding-bottom: 2px;
	display: inline-block;
	width: 100%;
}

.blood-level{
	height: 20px;
	width: 40%;
	background-color: rgba(255, 0, 0, 0.45);
	float: left;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.16);
	border: 1px solid transparent;
	-webkit-border-image: -webkit-linear-gradient(to right, rgba(212,200,75,1) 0%,rgba(244,248,158,1) 25%,rgba(213,205,96,1) 50%,rgba(244,248,158,1) 75%,rgba(213,205,96,1) 100%);
	border-image: linear-gradient(to right, rgba(212,200,75,1) 0%,rgba(244,248,158,1) 25%,rgba(213,205,96,1) 50%,rgba(244,248,158,1) 75%,rgba(213,205,96,1) 100%);
	border-image-slice: 1;
}

.blood-level__name{
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 0 4px;
	color: white;
	text-align: left;
	text-shadow: 1px 1px 2px #000;
}

.blood-level__bar{
	height: 100%;
	background-color: #4b44d0;
	width: 100%;
	transition: width .4s ease;
	box-shadow: 0px 1px 1px #000;
}

.time-counter{
	position: absolute;
	height: 30px;
	line-height: 30px;
	top: 6px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.56);
}

.victory-count{
	padding: 0 12px;
	display: inline-block;
	width: 100%;
}

.victory-count__item{
	width: 50%;
	text-align: right;
	float: left;
}

.victory-count__item:first-child{
	text-align: left;
}

.victory-count-medal{
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url(img/medal.gif);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
	border-radius: 100%;
}



.player{
	position: absolute;
	width: 150px;
	overflow: hidden;
	height: 138px;
	/*outline: 1px solid #ddd;*/
	font-size: 10px;
}

.wasted{
	background-color: #ccc6c6;
}



.player-controls{
	position: absolute;
	right: 20px;
	top: 20px;
}

button{
	cursor: pointer;
	margin: 0 5px;
}

[flipped]{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	text-align: right;
	float: right;
}



.player_1{
	background-image: url(sprites/cyrax-stay.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.player_2{
	background-image: url(sprites/kabal-stay.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.player_2.hand-damaged{
	background-image: url(sprites/kabal-hand-damaged.png);
	background-position: center;
	background-repeat: no-repeat;
}

.player_2.foot-damaged{
	background-image: url(sprites/kabal-foot-damaged.png);
	background-position: center;
	background-repeat: no-repeat;
}

.player_1.move-forward, .player_1.move-back[flipped]{
	background-image: url(sprites/cyrax-move-forward.gif);
	background-repeat: no-repeat;
	animation: none;
}

.player_1.move-back, .player_1.move-forward[flipped]{
	background-image: url(sprites/cyrax-move-backward.gif);
	background-repeat: no-repeat;
	animation: none;
}

.player_1.move-run{
	background-image: url(sprites/cyrax-running.gif);
	background-repeat: no-repeat;
}

.player_1.move-down{
	background: url('sprites/spritesheet_seat.png') no-repeat;
	animation: movedown .1s steps(2) forwards;
}

@keyframes movedown {
	from { background-position:  0px 7px; }
	to { background-position: -300px 7px; }
}

.player_1.block{
	background: url('sprites/spritesheet_block.png') no-repeat;
	animation: blockstay .1s steps(2) forwards;
}

@keyframes blockstay {
	from { background-position:  0px -3px; }
	to { background-position: -300px -3px; }
}

.player_1.move-down.block{
	background: url('sprites/spritesheet_block_seat.png') no-repeat;
	animation: blockseat .1s steps(2) forwards;
}

@keyframes blockseat {
	from { background-position:  0px 0; }
	to { background-position: -300px 0; }
}

.player_1.move-top, .player_1.move-top.move-forward, .player_1.move-top.move-back {
	background: url('sprites/spritesheet_jump.png') no-repeat;
	animation: movetop .3s steps(2) forwards;
}

@keyframes movetop {
	from { background-position:  0px 0px; }
	to { background-position: -300px 0px; }
}

.player_1.move-top.foot-kick, .player_1.move-top.foot-kick[flipped]{
	background: url('sprites/spriteshee_jump_kick_foot.png') no-repeat;
	animation: movetopfootkick .15s steps(3) forwards infinite;
	animation-direction: alternate;
}

@keyframes movetopfootkick {
	from { background-position:  0px 0px; }
	to { background-position: -450px 0px; }
}

.player_1.move-top.hand-kick, .player_1.move-top.hand-kick[flipped]{
	background: url('sprites/spriteshee_jump_kick_hand_forward.png') no-repeat;
	animation: movetophandkick .3s steps(3) forwards infinite;
	animation-direction: alternate;
}

@keyframes movetophandkick {
	from { background-position:  0px 0px; }
	to { background-position: -450px 0px; }
}

/*.player_1.jump-forward{
	background: url('sprites/spritesheet_jump_to.png') no-repeat;
	animation: movetopforward .4s steps(7) forwards infinite;
}*/

/*@keyframes movetopforward {
	from { background-position:  0px 0; }
	to { background-position: -1050px 0; }
}*/

/*.player_1.jump-back{
	background: url('sprites/spritesheet_jump_to.png');
	animation: movetopback .4s steps(7) forwards infinite;
}

@keyframes movetopback {
	from { background-position:  0px 0; }
	to { background-position: 1050px 0; }
}*/

.player_1.move-top.move-forward.hand-kick, .player_1.move-top.move-back.hand-kick{
	background: url('sprites/cyrax-jump-kick-hand.png') no-repeat;
	background-position: center 0;
	animation: none;
}

.player_1.move-top.move-forward.foot-kick, .player_1.move-top.move-back.foot-kick{
	background: url('sprites/cyrax-jump-kick-foot.png') no-repeat;
	background-position: center 0;
	animation: none;
}


.player_1.hand-kick, .player_1.hand-kick[flipped]{
	background: url('sprites/spritesheet_hand-kick.png') repeat-x;
	animation: handkick .45s steps(4) infinite;
}

@keyframes handkick {
	from { background-position:  0px 5px; }
	to { background-position: -600px 5px; }
}

.player_1.foot-kick, .player_1.foot-kick[flipped]{
	background: url('sprites/spritesheet_kick_foot.png') repeat-x;
	animation: footkick .31s steps(6) forwards infinite;
	animation-direction: alternate;
}

@keyframes footkick {
	from { background-position:  0 0; }
	to { background-position: -900px 0; }
}

.player_1.move-down.hand-kick{
	background: url('sprites/spritesheet_kick-hand_seat.png') no-repeat;
	animation: movedownhandkick .25s steps(3) forwards infinite;
	
}

@keyframes movedownhandkick {
	from { background-position:  0 0; }
	to { background-position: -450px 0; }
}

.player_1.move-down.foot-kick{
	background: url('sprites/spritesheet_kick-foot_seat.png') no-repeat;
	animation: movedownfootkick .25s steps(3) forwards infinite;
	
}

@keyframes movedownfootkick {
	from { background-position:  0 0; }
	to { background-position: -450px 0; }
}



















@keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
		from {background-position:0 0;}
		to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
		from {background-position:0 0;}
		to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
		from {background-position:0 0;}
		to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
		from {background-position:0 0;}
		to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
		from {background-position: 0;}
		to {background-position:10000px 0;}
}

.clouds {
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
}


.clouds{
		background:transparent url(img/clouds3.png) repeat top center;
		z-index:3;
	-moz-animation:move-clouds-back 200s linear infinite;
	-ms-animation:move-clouds-back 200s linear infinite;
	-o-animation:move-clouds-back 200s linear infinite;
	-webkit-animation:move-clouds-back 200s linear infinite;
	animation:move-clouds-back 200s linear infinite;
}

